<style>
  #ns-instock {
    
  }

</style>

{% liquid 
  assign block = block
  assign bs = block.settings
  assign title = bs.title
  assign number_left = bs.number_left | default: 28
%}

<div id="ns-instock" data-section="{{ section.id }}" {{ block.shopify_attributes }}>
  
  
</div>