<style>
  #shopify-section-{{section.id}} .banner{

  }
  @media screen and (max-width: 749px) {

  }
</style>

<div class="banner">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      {% for block in section.blocks %} 
        <div class="swiper-slide item">
          <div class="img-wrapper">
            {% render 'responsive-image',
              sid: section.id,
              image_desktop: block.settings.pc_image,
              image_mobile: block.settings.mobile_image,
              alt: block.settings.title,
              lazy: false,
              preload: true
            %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const banner_swiper = new Swiper('.banner .swiper-container', {
      loop: true,
      navigation: {
        nextEl: '.banner .swiper-button-next',
        prevEl: '.banner .swiper-button-prev',
      }
    })
  })
</script>

{% schema %}
{
  "name": "Home banner",
  "tag": "section",
  "class": "home-banner",
  "limit": 1,
  "max_blocks": 3,
  "settings": [],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "pc_image",
          "label": "pc_image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "mobile_image"
        },
        {
          "type": "textarea",
          "id": "title",
          "label": "title"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "content"
        },
        {
          "type": "url",
          "id": "url",
          "label": "url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Home banner"
    }
  ]
}
{% endschema %}
