<style>
  #shopify-section-{{section.id}} .shapes-wrapper{
    display: flex;
    justify-content: center;
    gap: 36px;
  }
  @media screen and (max-width: 1024px) {
  }
  @media screen and (max-width: 749px) {
  }
</style>

{% assign full_width = '100vw' %}
{% assign sizes = full_width %}
{% assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840' %}
<div class="shapes page-width section-pt">
  <h2 class="title">{{section.settings.title}}</h2>
  <div class="shapes-wrapper">
    {% for block in section.blocks %}
      <a class="item">
          {{
            block.settings.image
            | image_url: width: block.settings.image.width
            | image_tag:
              width: block.settings.image.width,
              height: block.settings.image.height,
              class: 'icon',
              sizes: sizes,
              widths: widths,
              alt: block.settings.text,
              loading: 'lazy'
          }}
          <span class="shape-name">{{ block.settings.content }}</span>
      </a>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Home shapes",
  "tag": "section",
  "class": "home-shapes",
  "limit": 1,
  "max_blocks": 8,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "title",
      "default": "Shop by Diamond Shape"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "image"
        },
        {
          "type": "text",
          "id": "content",
          "label": "content"
        },
        {
          "type": "url",
          "id": "url",
          "label": "url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Home shapes"
    }
  ]
}
{% endschema %}
