<style>
  #shopify-section-{{section.id}}.home-logo .logo-wrapper{
    position: relative;
  }

  @media screen and (max-width: 749px) {

  }
</style>

<div class="logo-container section-pt">
    <div class="logo-track swiper">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <div class="logo-item swiper-slide">
            {{ block.settings.icon_svg }}
          </div>
        {% endfor %}
      </div>
    </div>
</div>

<script>
  $(document).ready(function() {
    const logo_swiper = new Swiper('.logo-container .logo-track', {
      spaceBetween: 50,
      loop: true,
      autoplay: {
        delay: 1000,
        disableOnInteraction: false
      }
    })
  });
</script>

{% schema %}
{
  "name": "Home logo",
  "tag": "section",
  "class": "home-logo",
  "limit": 1,
  "settings": [
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "html",
          "id": "icon_svg",
          "label": "icon svg"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Home logo"
    }
  ]
}
{% endschema %}
