<style>
  #shopify-section-{{section.id}} .service-wrapper{
  }
  @media screen and (max-width: 1200px) {

  }
  @media screen and (max-width: 749px) {

  }
</style>

<div class="social page-width section-pt section-pb">
  <h2 class="section-title">{{section.settings.title}}</h2>
  <div class="service-wrapper">
    {% for block in section.blocks %}
      
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Home social",
  "tag": "section",
  "class": "home-social",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "title",
      "default": "As Seen On@neoshine_jewelry"
    },
    {
      "type": "text",
      "id": "btn_name",
      "label": "button name",
      "default": "VIEW MORE"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "button url"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "pc_image",
          "label": "pc image"
        },
        {
          "type": "image_picker",
          "id": "user_img",
          "label": "user image"
        },
        {
          "type": "text",
          "id": "user_name",
          "label": "user name"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Home social"
    }
  ]
}
{% endschema %}
