<style>
  #shopify-section-{{section.id}} .service-wrapper{
  }
  @media screen and (max-width: 1200px) {

  }
  @media screen and (max-width: 749px) {

  }
</style>

<div class="social page-width section-pt section-pb">
  <h2 class="section-title">{{section.settings.title}}</h2>
  <div class="social-wrapper swiper">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide">
            {% render 'responsive-image',
              sid: section.id,
              image_desktop: block.settings.pc_image,
              image_mobile: block.settings.pc_image,
              alt: section.settings.title,
              lazy: true,
              preload: false
            %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const guarantee_swiper = new Swiper('.social .swiper', {
      slidesPerView: 1.2,
      spaceBetween: 10,
      loop: true,
      navigation: {
        nextEl: '.social .swiper-button-next',
        prevEl: '.social .swiper-button-prev',
      },
      breakpoints: { 
        750: {  //当屏幕宽度大于等于768 
          slidesPerView: 2,
          spaceBetween: 15
        },
        1200: {  //当屏幕宽度大于等于1280
          slidesPerView: 4,
          spaceBetween: 20
        }
      },
      pagination: {
        el: '.guarantee .swiper-pagination',
        type : 'progressbar',
      },
    })
  })
</script>

{% schema %}
{
  "name": "Home social",
  "tag": "section",
  "class": "home-social",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "title",
      "default": "As Seen On@neoshine_jewelry"
    },
    {
      "type": "text",
      "id": "btn_name",
      "label": "button name",
      "default": "VIEW MORE"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "button url"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "pc_image",
          "label": "image"
        },
        {
          "type": "image_picker",
          "id": "user_img",
          "label": "user image"
        },
        {
          "type": "text",
          "id": "user_name",
          "label": "user name"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Home social"
    }
  ]
}
{% endschema %}
