<style>
  #shopify-section-{{section.id}}.home-logo .marquee-container{
  }

  @media (max-width: 749px) {

  }
</style>
<div class="marquee-container section-pt">
  <div class="marquee-track"  id="marqueeTrack">
    <!-- 原始内容 -->
    {% for block in section.blocks %}
      <div class="logo-item">{{ block.settings.icon_svg }}</div>
    {% endfor %}
    <!-- 克隆内容实现无缝衔接 -->
  </div>
</div>

<script>
  
</script>


{% schema %}
{
  "name": "Home logo",
  "tag": "section",
  "class": "home-logo",
  "limit": 1,
  "settings": [
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "html",
          "id": "icon_svg",
          "label": "icon svg"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Home logo"
    }
  ]
}
{% endschema %}
