<style>
  #shopify-section-{{section.id}}.related{
    padding: 100px 0;
  }
  @media screen and (max-width: 1200px) {

  }
  @media screen and (max-width: 749px) {

  }
</style>


<div class="product-related page-width">
  <h2 class="section-title">{{section.settings.title}}</h2>
  
</div>

{% schema %}
{
  "name": "Product related",
  "tag": "section",
  "class": "related",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "title",
      "default": "Related Products"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "collection"
    }
  ],
  "presets": [
    {
      "name": "Product related"
    }
  ]
}
{% endschema %}
