<style>
  #shopify-section-{{section.id}}.related{
    padding: 100px 0;
  }
  @media screen and (max-width: 1200px) {

  }
  @media screen and (max-width: 749px) {

  }
</style>


<div class="product-related page-width">
  <h2 class="section-title">{{section.settings.title}}</h2>
  <div class="swiper-related swiper">
    <div class="swiper-wrapper">
      {% assign col = section.settings.collection.products %}
      {% for product in col %}
        <div class="swiper-slide item">
          {% render 'card-product',
            card_product: product,
            media_aspect_ratio: 'square',
            show_secondary_image: false,
            lazy_load: true,
            skip_styles: false,
            quick_add: false,
            section_id: section.id,
            horizontal_class: true,
            horizontal_quick_add: true
          %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product related",
  "tag": "section",
  "class": "related",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "title",
      "default": "Related Products"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "collection"
    }
  ],
  "presets": [
    {
      "name": "Product related"
    }
  ]
}
{% endschema %}
