<style>
  .product-toggle-drag{
    margin-bottom: 40px;
  }
  .product-toggle-drag .toggle-wrapper-drag{
    border-radius: 3px;
    box-shadow: 0px 8px 8px 0px rgba(147, 147, 147, 0.20);
  }
  .product-toggle-drag .title-box{
    background: #fafafa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 30px 150px 30px 60px;
  }
  .product-toggle-drag .title-box .toggle-btn{
    transform: rotate(180deg);
    transition: all 0.3s ease-in-out;
  }
  .product-toggle-drag .title-box.close .toggle-btn{
    transform: rotate(00deg);
    transition: all 0.3s ease-in-out;
  }
  .product-toggle-drag .toggle-title{
    display: flex;
    align-items: center;
    gap: 12px;
    color: #505050;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-transform: capitalize;
  }
  .product-toggle-drag svg{
    display: block;
    width: 100%;
  }
  .product-toggle-drag .content-box{
    padding: 60px 100px;
    display: flex;
    gap: 90px;
    justify-content: space-between;
  }
  .product-toggle-drag .content-box .media-box{
    width: 43%;
    flex-shrink: 0;
  }
  .product-toggle-drag .content{
    color: #505050;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
  }
  @media screen and (max-width: 1200px) {
    .product-toggle-drag .title-box{
      padding: 10px 26px;
    }
    .product-toggle-drag .content-box{
      padding: 40px 26px;
      gap: 20px;
    }
  }
  @media screen and (max-width: 749px) {
    .product-toggle-drag{
      margin-bottom: 30px;
    }
    .product-toggle-drag .content-box{
      flex-direction: column;
    }
    .product-toggle-drag .content-box .media-box{
      width: 100%;
    }
    .product-toggle-drag .toggle-title{
      font-size: 12px;
      line-height: 18px;
    }
    .product-toggle-drag .content{
      font-size: 12px;
      line-height: 18px;
    }
    .product-toggle-drag .title-icon{
      width: 20px;
    }
    .product-toggle-drag .toggle-btn{
      width: 14px;
    }
  }
</style>

{% assign hand_img = 'https://cdn.shopify.com/s/files/1/0897/6921/4241/files/Rectangle_12564.png' %}

<div class="page-width">
  <div class="toggle-wrapper-drag">
    <div class="title-box">
      <div class="toggle-title">
        <span class="title-icon">{% render 'toggle-icon' %}</span>
        <span>{{ section.settings.title }}</span>
      </div>
      <div class="toggle-btn">
        <svg width="28" height="18" viewBox="0 0 28 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 0.999998L14.0008 16.7623L27 1" stroke="#121212" style="stroke:#121212;stroke:color(display-p3 0.0706 0.0706 0.0706);stroke-opacity:1;" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>

      </div>
    </div>
    <div class="content-box">
      <div class="content">
        <div class="item-subtitle">{{ section.settings.sub_title }}</div>
        <p class="item-content">{{ section.settings.content }}</p>
        <div class="chat-btn">Get an expert opinion on this diamond</div>
      </div>
      <div class="media-box">
        <div class="image-box">
          {% render 'responsive-image',
              sid: section.id,
              image_desktop: hand_img,
              image_mobile: hand_img,
              alt: section.settings.title,
              lazy: true,
              preload: false
            %}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    $('#shopify-section-{{section.id}}.product-toggle-drag .title-box').click(function () {
      $(this).toggleClass('close');
      $(this).next('.content-box').slideToggle();
    })

    $('.product-toggle-drag .chat-btn').on('click', function () {
      tidioChatApi.open()
    })
    $('.product-toggle-drag .chat-btn').on('touchstend', function () {
      tidioChatApi.open()
    })
  })
</script>

{% schema %}
{
  "name": "Product Toggle Drag",
  "tag": "section",
  "class": "product-toggle-drag",
  "settings": [
    {
      "type": "textarea",
      "id": "title",
      "label": "title",
      "default": "your Diamond Size: 1 Carat"
    },
    {
      "type": "textarea",
      "id": "sub_title",
      "label": "sub title",
      "default": "Understanding Diamond Carat Weight"
    },
    {
      "type": "textarea",
      "id": "content",
      "label": "content",
      "default": "A diamond's carat weight is determined by its size, with larger diamonds weighing more. However, it's important to note that carat weight is not the same as size, as other factors such as depth and shape can also impact how large a diamond appears."
    }
  ],
  "presets": [
    {
      "name": "Product Toggle Drag"
    }
  ]
}
{% endschema %}
