.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after,
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
  display: none;
}
.swiper-button-next,
.swiper-button-prev{
  width: 17px;
  height: 26px;
}
.section-pt{
  padding-top: 138px;
}
.section-pb{
  padding-bottom: 138px;
}
a{
  text-decoration: none;
  color: inherit;
}
.brand-color{
  color: #83A78D;
  font-weight: 700;
}
.section-title{
  margin: 0 0 40px;
  color: #121212;
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  line-height: 48px;
  text-transform: capitalize;
}
.social-popup-open{
  overflow: hidden;
}
@media (max-width: 1200px){
  .section-title{
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  .section-pt{
    padding-top: 80px;
  }
  .section-pb{
    padding-bottom: 80px;
  }
}
@media (min-width: 750px) {
  img.mb {
    display: none !important;
  }
}

@media (max-width: 749px) {
  .page-width{
    /* padding-left: 5px;
    padding-right: 5px; */
  }
  img.pc {
    display: none !important;
  }
  .section-pt{
    padding-top: 60px;
  }
  .section-pb{
    padding-bottom: 60px;
  }
  .section-title{
    font-size: 26px;
    line-height: 1.2;
  }
}
